html
  head
    title= title
    link(href="client/main.css", rel="stylesheet")
  body
    h1= message
    button#btn send request
    div.weather
      ul.weather-list
          each val in weather
              li.weather-item.weather-list__item
                  div.weather-item__date= val.date
                  div.weather-item__weekday= val.weekDay
                  div.weather-item__description= val.weather.description
                  div.weather-item__value= val.celsium
                    span &#x2103;
                  div.weather-item__img
                    img(src=`${val.icon}`)

    script(src="client/index.js")